/workshops/FP02_controlStatement/nbproject/private/
/workshops/BasicOperactions/nbproject/private/
/workshops/BasicOperactions/JavaApplication21/nbproject/private/
/workshops/unit1/ws03operators/BasicOperactiones/nbproject/private/
/workshops/unit1/ws03operators/BasicOperactiones/build/
/assigments/UNIT 1/HW02/HW02/nbproject/private/
/assigments/UNIT 1/HW02/HW02/build/
/workshops/unit 1/WS04 LogicalOperators/nbproject/private/
/workshops/unit 1/WS04 LogicalOperators/build/
/workshops/unit 1/ws05lterations/nbproject/private/
/workshops/unit 1/ws05lterations/build/
/assigments/UNIT 1/HW03Iterations/nbproject/private/
/assigments/UNIT 1/HW03Iterations/build/
/workshops/unit 1/WS07/nbproject/private/
/workshops/unit 1/WS07/build/
/assigments/UNIT 1/HW04/nbproject/private/
/assigments/UNIT 1/HW04/build/
/assigments/UNIT 1/HW04_Menus/nbproject/private/
/assigments/UNIT 1/HW04_Menus/build/
/Exams/Unit 1/Quishpe Tania Q11/nbproject/private/
/Exams/Unit 1/Quishpe Tania Q11/build/
/Exams/Unit 1/Quishpe Tania Q11/dist/
/workshops/Unit 2/WS08.debugging/nbproject/private/
/workshops/Unit 2/WS08.debugging/build/
/assigments/Unit 2/HW05.Factorial/nbproject/private/
/assigments/Unit 2/HW05.Factorial/build/
/assigments/Unit 2/HW09- EmbeddedStructures/nbproject/private/
/assigments/Unit 2/HW09- EmbeddedStructures/build/
/workshops/Unit 2/WS09- Funcions/nbproject/private/
/workshops/Unit 2/WS09- Funcions/build/
/assigments/Unit 2/HW10/nbproject/private/
/assigments/Unit 2/HW10/build/
/workshops/Unit 2/WS11 Functions-Recurcion/nbproject/private/
/workshops/Unit 2/WS11 Functions-Recurcion/build/
/Proyect_unit 1/Proyeto-Grupo 7/nbproject/private/
/Proyect_unit 1/Proyeto-Grupo 7/build/
/assigments/Unit 2/HW11-Sucesion/nbproject/private/
/assigments/Unit 2/HW-Recursion/nbproject/private/
/assigments/Unit 2/HW-Recursion/build/
/assigments/Unit 2/HW 11 - Recursion/nbproject/private/
/assigments/Unit 2/HW 11.Recursion/nbproject/private/
/assigments/Unit 2/HW 11.Recursion/build/
/workshops/Unit 2/Ws12- Libraries/nbproject/private/
/workshops/Unit 2/Ws12- Libraries/build/
/assigments/Unit 2/HW12-Taxes/nbproject/private/
/assigments/Unit 2/HW12-Taxes/build/
/workshops/Unit 2/WS13-Task/nbproject/private/
/workshops/Unit 2/WS13-Task/build/
/workshops/Unit 2/WS14- FromSimulador/nbproject/private/
/workshops/Unit 2/WS14- FromSimulador/build/
/assigments/Unit 2/HW14-Arrays/nbproject/private/
/assigments/Unit 2/HW14-Arrays/build/
/Quiz/Quiz 1/nbproject/private/
/Quiz/Quiz 1/build/
/workshops/Unit 2/WS15-Solutions/nbproject/private/
/workshops/Unit 2/MatrixAddition/nbproject/private/
/workshops/Unit 2/WS15-Solutions/build/
/workshops/Unit 2/Ws16-MatrixAddition/nbproject/private/
/workshops/Unit 2/Ws16-MatrixAddition/build/
/assigments/Unit 2/HW15-MatrixOperation/nbproject/private/
/assigments/Unit 2/HW15-MatrixOperation/build/
/workshops/Unit 2/WS17-MatrixTransposition/nbproject/private/
/workshops/Unit 2/WS17-MatrixTransposition/build/
/assigments/Unit 2/HW16-MatrixFunction/nbproject/private/
/Exams/Unit 2/QuishpeT.Q11/nbproject/private/
/assigments/Unit 2/HW16-MatrixFunction/build/
/Exams/Unit 2/QuishpeT.Q11/build/
/workshops/Unit 2/QuishpeSandyExam2/nbproject/private/
/workshops/Unit 2/QuishpeSandyExam2/build/
/Proyect_unit 1/Proyecto/Proyecto Parte 2/nbproject/private/
/Proyect_unit 1/Proyecto/Proyecto Parte 2/build/
/workshops/Unit 2/QuishpeSandyExam2/dist/
/workshops/Unit 2/Ws 0.9 Funcions/nbproject/private/
/workshops/Unit 2/Ws 0.9 Funcions/build/
/workshops/Unit 2/Ws 0.9 Funcions/dist/
/workshops/Unit 2/Ws 12.0 Libraries/nbproject/private/
/workshops/Unit 2/Ws 12.0 Libraries/build/
/workshops/Unit 2/Ws 12.0 Libraries/dist/
/workshops/Unit 3/JavaApplication7/nbproject/private/
/workshops/Unit 3/Ws-20JarExecution/build/
/workshops/Unit 3/Ws-20JarExecution/dist/
/workshops/Unit 3/Ws-21Funcions/nbproject/private/
/workshops/Unit 3/Ws-21Funcions/build/
/workshops/Unit 3/Ws-21Funcions/dist/
/workshops/Unit 3/Ws22-ModuladiCalculator/nbproject/private/
/workshops/Unit 3/Ws22-ModuladiCalculator/build/
/workshops/Unit 3/Ws23-TexDeclaration/nbproject/private/
/workshops/Unit 3/TaxLibrary/nbproject/private/
/workshops/Unit 3/Ws23-TexDeclaration/build/
/workshops/Unit 3/Ws23-TexDeclaration/dist/
/workshops/Unit 3/WS22-ModularCalculator/nbproject/private/
/workshops/Unit 3/WS22-ModularCalculator/build/
/workshops/Unit 3/TaxLibrary/dist/
/workshops/Unit 3/TaxLibrary/build/