/workshops/FP02_controlStatement/nbproject/private/
/workshops/BasicOperactions/nbproject/private/
/workshops/BasicOperactions/JavaApplication21/nbproject/private/
/workshops/unit1/ws03operators/BasicOperactiones/nbproject/private/
/workshops/unit1/ws03operators/BasicOperactiones/build/
/assigments/UNIT 1/HW02/HW02/nbproject/private/
/assigments/UNIT 1/HW02/HW02/build/
/workshops/unit 1/WS04 LogicalOperators/nbproject/private/
/workshops/unit 1/WS04 LogicalOperators/build/