/workshops/FP02_controlStatement/nbproject/private/
/workshops/BasicOperactions/nbproject/private/
/workshops/BasicOperactions/JavaApplication21/nbproject/private/
/workshops/unit1/ws03operators/BasicOperactiones/nbproject/private/
/workshops/unit1/ws03operators/BasicOperactiones/build/
/assigments/UNIT 1/HW02/HW02/nbproject/private/
/assigments/UNIT 1/HW02/HW02/build/
/workshops/unit 1/WS04 LogicalOperators/nbproject/private/
/workshops/unit 1/WS04 LogicalOperators/build/
/workshops/unit 1/ws05lterations/nbproject/private/
/workshops/unit 1/ws05lterations/build/
/assigments/UNIT 1/HW03Iterations/nbproject/private/
/assigments/UNIT 1/HW03Iterations/build/
/workshops/unit 1/WS07/nbproject/private/
/workshops/unit 1/WS07/build/
/assigments/UNIT 1/HW04/nbproject/private/
/assigments/UNIT 1/HW04/build/
/assigments/UNIT 1/HW04_Menus/nbproject/private/
/assigments/UNIT 1/HW04_Menus/build/
/Exams/Unit 1/Quishpe Tania Q11/nbproject/private/
/Exams/Unit 1/Quishpe Tania Q11/build/
/Exams/Unit 1/Quishpe Tania Q11/dist/